/* base content */
body {
  background: url("../img/new_background.jpg") 50% 50px no-repeat fixed;
}
nav {
    position: sticky;
}
.content {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}
h1 {
  padding-bottom: 30px;
  width: 100%;
}
/* additional content */
.btn-toggle {
  background-color: rgba(69, 177, 232, 0.9);
  border-color: rgba(69, 177, 232, 0.9);
  width: 100%;
}
.btn-toggle:hover {
  background-color: rgba(29, 147, 212, 0.9);
  border-color: rgba(29, 147, 212, 0.9);
}
.btn-primary {
  width: 100%;
}
.card-body {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.form-group{
}
.found-result {
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px outset grey;
  border-radius: 20px;
}
.character-card {
  max-width: 90%;
  max-height: 70%;
  margin: 5%;
  padding: 10px;
  line-height: 10px;
  border: 1px double #1FAEE9;
  border-radius: 30px;
}
.character-card:hover {
  background-color: rgba(180, 241, 244, 0.5);
}
/* .character-picture-block {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  outline: 2px double #000000;
  overflow: hidden;
  background-image: url("C:/Users/Владелец/sorry its mine/slet/am i need it/ЯЛ/web/to_git/static/img/gandalf.jpg");
  background-position: center;
  background-size: cover;
}
.character-picture {
  position: relative;
  object-fit: cover;
} */
