{% extends "base.html" %}

{% block content %}
  <h1>Characters</h1>

  <p>
    <button class="btn btn-primary btn-toggle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Filters
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form class="search-from" method="post">
        {% for characteristics, params in descriptions.items() %}
        <div class="form-group">
                <label for="classSelect">{{ characteristics }}</label>
                <select class="form-control" id="classSelect" name='{{ characteristics }}'>
                    {% for item in params %}
                    <option>{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Apply</button>
        </form>
    </div>
</div>
<div class="found-result">
  {% if not characters_list %}
    <p style="padding:10px">No result</p>
  {% else %}
    {% for character in characters_list %}
    <div class="character-card">
      <!-- <div class="character-picture-block"></div> -->
      <div class="character-info">
      <h2><a href="{{ character['wikiUrl'] }}" target="blank">{{ character["name"] }}</a></h2>
      {% for key, value in character.items() %}
          {% if key != "name" and key != "_id" and key != "wikiUrl" and value %}
            <p>{{ key.capitalize() }}: {{ value }}</p>
          {% endif %}
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
