{% extends "base.html" %}

{% block content %}
<h1>Movies</h1>

<div class="movies-content-block">
    {% for movie in movies_list %}
    <div class="card">
        <h3 class="card-title">{{ movie.get('name', 'Something go wrong :(') }}</h3>
        <img class="card-img-top" src="{{ posters_src_list[loop.index0] }}" alt="Card image cap">
        <button class="btn btn-primary btn-collapse" type="button" data-toggle="collapse" data-target="#collapseExample{{ loop.index0 }}"
                aria-expanded="false" aria-controls="collapseExample">
            Information
        </button>
        <div class="collapse" id="collapseExample{{ loop.index0 }}">
            <div class="card-body">
                <!--                <h5 class="card-title">{{ movie.get('name', 'Something go wrong :(') }}</h5>-->
                <div class="card-text">
                    <div class="card-text-snippet">
                        {{ wiki_snippet_list[loop.index0] }}
                    </div>
                    <div class="card-text-info">
                        <p>Runtime: {{ movie['runtimeInMinutes'] }} minutes</p>
                        <p>Budget: ${{ movie['budgetInMillions'] }} millions</p>
                        <p>Box office revenue: ${{ movie['boxOfficeRevenueInMillions'] }} millions</p>
                        <p>Academy award nominations: {{ movie['academyAwardNominations'] }}</p>
                        <p>Academy award wins: {{ movie['academyAwardWins'] }}</p>
                        <p>Rotten Tomates score: {{ movie['rottenTomatesScore'] }}</p>
                    </div>
                </div>
                <a href="{{ wiki_url_list[loop.index0] }}" class="btn btn-light btn-search" target="_blank" >Search it on wiki</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

<!--{'_id': '5cd95395de30eff6ebccde56',-->
<!-- 'academyAwardNominations': 30,-->
<!-- 'academyAwardWins': 17,-->
<!-- 'boxOfficeRevenueInMillions': 2917,-->
<!-- 'budgetInMillions': 281,-->
<!-- 'name': 'The Lord of the Rings Series',-->
<!-- 'rottenTomatesScore': 94,-->
<!-- 'runtimeInMinutes': 558}-->